body {
    font: normal 12px Helvetica Neue,Arial,Helvetica,sans-serif;
    font-size: 12px;
    position: relative;
    margin: 0;
    padding: 0;
    background: teal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
    width: 100%;
}

#navBar {
    cursor: default;
    background-color: silver;
    margin-bottom: 10px;
    padding: 0 8px;
    position: fixed;
    width: 100%;
    height: 25px;
    border-bottom: 2px inset #fff;
}

#fileUpload {
    box-shadow: 1px 1px 0 0 #424242;
    border: 1px solid #fff;
    border-right-color: #848484;
    border-bottom-color: #848484;
    background: silver;
    padding: 2px;
    padding: 0 8px;
    position: absolute;
    top: 35px;
    width: 75%;
    height: 330px;
    margin-left: 20px;
}

#submit {
    width: 58px;
    float: right;
}

#submitText {
    top: 308px;
}

.button {
    cursor: default;
    display: inline-block;
    border: 2px outset #fff;
    padding: 0 0 0 2px;
    margin-top: 2px;
    box-shadow: 1px 1px #000;
    width: 200px;
    height: 17px;
    left: 0;
    margin-left: -6px;
}

.button:hover {
    background-color: #d0d0d0;
}

.button:active {
    background-color: #b0b0b0;
}

.textInput {
    width: 100%;
    height: 266px;
    resize: none;
    margin-left: -6px;
    margin-top: 1px;
    font: inheret;
    font-size: 14px;
}

.innerTextInput {
    width: 500px;
    height: 500px;
}

.bigPipe {
    display: inline-block;
    border-left: 1px solid gray;
    border-right: 1px solid #fff;
    height: 20px;
    margin: 0;
    top: 20px;
}

.buttonText {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    position: absolute;
    margin: 0;
    font-weight: 700;
    top: 6px;
}